.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

#Websites{
display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: left;
    padding: 20px;
}






#websites{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic{
    display: flex;
}

/* #intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
} */

#websites ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
